[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/darkangel/Desktop/My_Workspace]
row=6
col=0

[/home/darkangel/Desktop/books]
row=4
col=0

[/home/darkangel/Desktop/JS]
row=5
col=0

[605C54DF5C54B210]
row=3
col=0

[01D6B3A512AF1C50]
row=2
col=0

[Trash]
row=1
col=0

[/home/darkangel]
row=0
col=0

